@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

/* Dark Mode Palette */
@theme {
    --color-background: #0C0910;
    --color-text: #BBBBBB;
    --color-accent: #A393BF;
    --color-title: #F4F2F8;
    --color-amethyst-smoke: #9882AC;
    --color-vintage-lavander: #73648A;
    --color-vintage-grape: #453750;
    --color-midnight-violet: #1D1627;
    --color-onyx: #0C0910;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 40px;
}

.accent {
    color: var(--color-accent);
    font-family: 'Jura', serif;
    font-weight: bold;
}